@using System.Net.Http.Headers
@inherits LayoutComponentBase
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private LocalStorageManager localStorageManager;

    protected override async Task OnInitializedAsync()
    {
        await buildRoutingState();

        localStorageManager = new LocalStorageManager(JsRuntime);
        var token = await localStorageManager.GetAsync<string>("token");
        if (!String.IsNullOrWhiteSpace(token))
        {
            StateContainer.Token = token;
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            NavigationManager.NavigateTo("/Login");
        }
    }

    private async Task buildRoutingState()
    {
        StateContainer.Routes = await Http.GetFromJsonAsync<HashSet<TheHostRouteModel>>("data/routes.json");
    }
}