@page "/"
@inject StateContainer StateContainer
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="ShowToken">Show token</button>

@code {
    public async Task ShowToken()
    {
        var enc = await JsRuntime.InvokeAsync<string>("aesGcmEncrypt", "tugkan", "query", new int[]{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12});
        var dec = await JsRuntime.InvokeAsync<string>("aesGcmDecrypt", enc, "query", new int[]{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12});
        await JsRuntime.InvokeVoidAsync("console.log", enc);
        await JsRuntime.InvokeVoidAsync("console.log", dec);

        var test = System.Text.Json.JsonSerializer.Serialize(StateContainer.Routes);
        await JsRuntime.InvokeVoidAsync("console.log", StateContainer.Token);
        await JsRuntime.InvokeVoidAsync("console.log", test);
    }
}