@page "/note"
@using Models
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager

<PageTitle>Note</PageTitle>

<h1>Notes</h1>